
###CodeIgniter###
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/app/cms/resources/images/*
/app/cms/resources/galleries/*
/app/cms/resources/files/*
/app/cms/core/logs/*.php
/app/cms/resources/images/*
/app/cms/resources/galleries/*
/app/cms/resources/files/*
/app/cms/core/logs/*.php
error_log

###Otros###
.vscode
.fuse_hidden*
Thumbs.db

###SublimeText###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sftp configuration file
sftp-config.json